@using EntityLayer.Concrete
@model Writer
@{
    ViewData["Title"] = "WriterProfileUpdate";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
            <p class="card-description"> Burada profilinize ait bilgileri düzenleyebilirsiniz. </p>
            <form class="forms-sample" method="post">
                @Html.HiddenFor(x=> x.Id, new {@class="form-control"})

                <div class="form-group">
                    <label for="exampleInputName1">Ad Soyad</label>
                    @Html.TextBoxFor(x=> x.Name, new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">E-Posta Adresi</label>
                    @Html.TextBoxFor(x=> x.Email, new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre</label>
                    @Html.PasswordFor(x=> x.Password, new {@class="form-control"})

                </div>
                <div class="form-group">
                    <label>Profil Resmi</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Profil Resmi Yükle">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Yükle</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Hakkında</label>
                    @Html.TextAreaFor(x=> x.About, 10, 3, new {@class="form-control"})
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>

<script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="~/writer/assets/js/off-canvas.js"></script>
<script src="~/writer/assets/js/hoverable-collapse.js"></script>
<script src="~/writer/assets/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="~/writer/assets/js/file-upload.js"></script>